/*html
{
    cursor: url(../img/mouse1.png), auto;
}
a, button, img
{
    cursor: url(../img/mouse2.png), auto;
} */
/*Estilos para toda la pagina y fondo*/
*{
    margin: 0;
    padding: 0;
}
*::selection
{
    background: rgb(245, 208, 0);
    color: white;
}
body{
    background:url(../img/fondo.jpg) center top  ;
}

.btn
{
    margin: 0;
    padding: 0;
    width: 90px;
    height: 40px;
}
.btn button
{
    background: #FF9C00; 
    font-family: 'Monterrat';
    color: #fff ;
    outline: none;
    border: none;
    width: 80px;
    height: 40px;
    transition: 0.4s;
    font-size: 17px;
    animation-name: crecer;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-fill-mode: inherit;
    animation-iteration-count: infinite;}
@keyframes crecer {
    0%
    {
        width: 90px;
        height: 60px;
        background-color: #E78D00;
    }
}
.btn:hover button
{
    background:#FFB643 ;
    color: #4E4E4E;
    animation-play-state: paused;

}
.btn button:active
{
    color: red;
    background: green;

}
/*Estilos para el menu*/
header
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
}

nav
{
    float: right;
}
.clearflix
{
    clear: both;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;

}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
/*Efectos hover*/

nav ul li a.actividad,
nav ul li a:hover
{
    background: #119;
    color: #fff;
    transition: 0.5s;
    transition-delay: 0.1s;
}
/*Haciendo un menu responsive*/
@media (max-width:1200px)
{
    header
    {
        margin: 20px;
    }
}
header h2
{
    display: inline;
    position: relative;
    left: 400px;
    font-size: 60px;
    font-weight: 300;
    color: orange;

}

/*Estilos para el buscador*/
.searchBox{
    margin: 10px;
    position: absolute;
    width: 30px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transition-delay: 0s;
}
.searchBox input:focus
{
    position: absolute;
    width: 330px;
    height: 50px;
    transition: .5s;
    transition-delay: 0s;
}
.searchBox input:hover
{
    transition-delay: 6s;
    transition: .3s;
    position: absolute;
    width: 330px;
    height: 50px;
}
.searchBox input
{   left: 0%;
    transition: .5s;
    font-family: 'Verdana';
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 25px;
    font-size: 1.1em;
    color: #555;
    outline: none;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,011),
                15px 15px 15px rgba(0,0,0,0.1),
                20px 20px 20px rgba(0,0,0,0.1),
                30px 30px 30px rgba(0,0,0,0.1),
                inset 1px 1px 2px #fff;
    border-radius: 12px;

}
.searchBox span
{
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    color: #555 ;
    font-size: 1.2em;
    font-weight: 900;
}
.searchBox span:focus
{
    position: absolute;
    left: 60%;
}
/*estilo al footer*/
/*estilos a los iconos de las redes sociales(footer)*/
.redes ol li
{
    padding: 4px;
    list-style: none;

}

.redes 
{
    color: #2c3e50;
    transition: 0.6s;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff
    0 0  10px #ffffff
    0 0  20px #ffffff
    0 0  35px #ffffff
    unset #fff;
    
    
}
footer
{
    height: 100%;
    width: 100%;
    position: static;
    background: #111;
}
.contenido-footer p
{
    color: white;
    position: relative;
    left: 25%;
    padding: 0;
    margin: 0;
}
.midle , .sm a i .fam{
    position: relative;
    top: 0%;
    bottom: 30%;
    left: 1%;
    transform: translate(0%, 15%);
}
.info
{
    position: relative;
    bottom: -190px;
}
button .info
{
    padding: 10px;
}
.info
{
    border: none;
    border-radius: 12px;
    font-family: 'Montserrat';
    height: 25px;
    width: 80px;
    background: linear-gradient(45deg, #4E4E4E, rgb(212, 212, 212), rgb(241, 241, 241));
    background-size: 400% 400%;
    animation: cambiar 5s ease infinite;
    animation-direction: normal;
    animation-direction: alternate;
    animation-fill-mode: inherit;
}
@keyframes cambiar
{
    0%{
        background-position: 0 50% ;
        color: white;
        height: 35px;
    }
    50%{
        background-position: 100% 50%;
        color: black;
    }
    100%{
        background-position: 0 50%;
        color: rgb(68, 67, 67);
        height: 35px;
    }
}
.info:active
{
    background: #4E4E4E;
    color: white;
}
/*Estilos a la lista de juegos*/
.card{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front, .back{
    height: 460px;
    width: 330px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: all 0.75s;
}
.front img{
    height: 400px;
    width: 330px;
    position: absolute;
    top: center;
}
/*rotacion de el juego*/
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    border-radius: 10px;
    height: 400px;
    width: 330px;
    background: #f1f1f1;
    transform: perspective(600px) rotateY(560deg);


}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.back-cont::selection
/*Estilos dentro de las redes sociales dentro de la lista de juegos*/
.sm{
    margin: 20px;
    
}

.sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.6s;
    border-radius: 50%;
    
}
/*Efecto hover a las redes sociales */
.sm a:hover{
    background: #2c3e50;
    color: white;
    border-radius: 25px;

}
/*Rotacion de las imagenes */
.midle:hover > .front{
    transform: perspective(600px) rotateY(-180deg);

}
.midle:hover > .back{
    transform: perspective(600px) rotateY(0deg);

}
/*colocar un tamaño y posicion a la lista de juegos*/
.juego2{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    left: 423px;
    top: 225px;


}
.juego3{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    top: 225px;
    left: 60%;
}
.juego4{
    width: 300px;
    height: 350px;
    position: relative;
    display: inline;
}
.juego5{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    left: 423px;
    top: 707px;
    
}
.juego6{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    left: 60%;
    top: 707px;
}
.juego7{
    width: 300px;
    height: 350px;
    position: relative;
    display: inline;
}
.juego8{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    left: 423px;
    top: 1185px;
    
}
.juego9{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    left: 60%;
    top: 1185px;
}
.juego10{
    width: 300px;
    height: 350px;
    position: relative;
    display: inline;
}
.juego11{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    left: 423px;
    top: 1663px;
    
}
.juego12{
    width: 300px;
    height: 350px;
    position: absolute;
    display: inline;
    left: 60%;
    top: 1663px;
}

@media (max-width: 1360px)
{
    .title
    {
        position: relative;
        left: 10%;
        font-size: 50px;
    }
    nav ul li a
    {
        float: right;
        font-size: 13px;
        position: relative;
        left: -60%;
    }
    .juego3
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego4
    {
        position: absolute;
        left: 30%;
        top: 693px;
    }
    .juego5
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego6
    {
        position: absolute;
        left: 30%;
        top: 1170px;
    }
    .juego7
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego8
    {
        position: absolute;
        left: 30%;
        top: 1647px;
    }
    .juego9
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego10
    {
        position: absolute;
        left: 30%;
        top: 2124px;
    }
    .juego11
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego12
    {
        position: absolute;
        left: 30%;
        top: 2601px;
    }
    .creadoruno
    {
        position: relative;
        bottom: 2750px;
        background-color: white;
    }
}
@media (max-width: 1240px)
{
    .juego3
    {
        color: red;
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego4
    {
        color: red;
        position: absolute;
        left: 35%;
        top: 693px;
    }
    .juego5
    {
        color: red;
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego6
    {
        position: absolute;
        left: 35%;
        top: 1170px;
    }
    .juego7
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego8
    {
        position: absolute;
        left: 30%;
        top: 1647px;
    }
    .juego9
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego10
    {
        position: absolute;
        left: 30%;
        top: 2124px;
    }
    .juego11
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego12
    {
        position: absolute;
        left: 30%;
        top: 2601px;
    }
    .creadoruno
    {
    display: inline-block;
    position: relative;
    bottom: 2630px;
    }
}
@media (max-width: 991px)
{
    .texto-footer
    {
        position: relative;
        margin: 30px;
    }
    .redes-div .redes ol li a
    {
        position: relative;
        left: -150px;
    }

    .title
    {
        position: relative;
        left: 10%;
        font-size: 45px;
    }
    .title-certus h3
    {
      position: absolute;
      left: 30%;
    }
    .front, .back
    {
            height: 310px;
            width: 250px;
            font-size: 16px;
            padding: 0;
    }
    nav ul li a
    {
        float: right;
        font-size: 13px;
        position: relative;
    }
    .juego2
    {
        position: relative;
        left: 0;
        top: 10%;
        margin: 30px;
    }
    .juego3
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego4
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego5
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego6
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego7
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego8
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego9
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego10
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego11
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego12
    {
        position: relative;
        left: 0;
        top: 10%;
    }
    .creadordos
    {
        background: #111;
        height: 600px;
        width: 700px;
    }
    .creadoruno
    {
    display: inline-block;
    position: absolute;
    bottom: -1300px;
    left: 0;
    }
    .front img{
        height: 350px;
        width: 250px; 
    }
    .card{
        cursor: pointer;
        width: 190px;
        height: 330px;
    }
}
@media (max-width: 680px)
{
    .title
    {
        position: relative;
        left: 0%;
        font-size: 35px;
    }
    nav ul li a
    {
        font-size: 8px;
        margin: 1px;
        padding: 14px;
        position: relative;
        left: 10%;
    }
    .juego2
    {
        color: red;
        position: relative;
        left: 0;
        top: 10%;
        margin: 30px;
    }
    .front, .back
{
        height: 300px;
        width: 230px;
        font-size: 14px;
}
    .front img{
        height: 300px;
        width: 230px; 
    }
    .card{
        cursor: pointer;
        width: 240px;
        height: 380px;
    }
    .juego3
    {
        color: red;
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego4
    {
        color: red;
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego5
    {
        color: red;
        position: relative;
        left: 0;
        top: 10%;
    }
    .juego6
    {
        color: red;
        position: relative;
        left: 0;
        top: 10%;
    }
    .redes-div .redes ol li a
    {
        font-size: 1.5em;
        position: relative;
        right: 0;
        margin: 2px;
    }
    .title-certus h3
    {
        position: relative;
        left: -190px;
    }
}
@media (max-width: 440px)
{
    .redes-div .redes ol li a
    {
        font-size: 1.3em;
        margin: 0;
    }
    
}
@media (max-width: 500px)
{
    .title-certus h3
    {
        font-size: 13px;
    }
    .redes-div .redes ol li a
    {
        font-size: 1.4em;
        margin: 0;
    }

}
@media (max-width: 400px)
{
    .redes-div .redes ol li a
    {
        font-size: 1.4em;
        margin: 0;
        position: relative;
        left: -100px;
        top: 5px;
        columns: auto;
        grid-column: span;
    }
    .title-certus h3
    {
        position: relative;
        left: -150px;
    }
}
@media (max-width: 265px)
{
    .title-certus h3
    {
        position: absolute;
        left: 0;
    }
}
.titulo-footer p
{
    position: absolute;
    left: 40%;
    font-size: 30px;
    color: white;
    opacity: .5;
    margin: 40px 0;
    font-family: 'Monterrat';
    font-weight: 100;
    animation: tamanñocambiar 5s linear infinite;
}
@keyframes tamanñocambiar
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: .3;
    }
    100%
    {
        opacity: 1;
    }
}
.footer-cuerpo
{
    display: inline-block;
    margin: 80px 20px ;
}
.cuerpo-footer
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px o;
}
.cuerpo-footer .carta-footer
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(155, 155, 155, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
}
.cuerpo-footer .carta-footer .contenido-footer
{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(252, 252, 252, 0.1);
    border: 1px solid rgba(255, 255, 255, 255.1);
    transition: bottom 0.5s;
    transition-delay: 0.8s;
}
.cuerpo-footer .carta-footer:hover .contenido-footer
{
    bottom: 0;
}
.cuerpo-footer .carta-footer .contenido-footer .contenido-bx h3
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    transition-delay: 0.6s;
}
.cuerpo-footer .carta-footer .contenido-footer .contenido-bx h3
{
    opacity: 1;
    transform: translateY(0px);
}
.cuerpo-footer .carta-footer .contenido-footer .contenido-bx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.cuerpo-footer .carta-footer .contenido-footer .redes-footer
{
    position: relative;
    bottom: 10px;
    display: flex;
}
.cuerpo-footer .carta-footer .contenido-footer .redes-footer li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}
.cuerpo-footer .carta-footer:hover .contenido-footer .redes-footer li
{
    transform: translateY(0px);
    opacity: 1;
}
.cuerpo-footer .carta-footer:hover .contenido-footer .redes-footer li a:hover
{
    color: #ececec;
}
.cuerpo-footer .carta-footer:hover .contenido-footer .redes-footer li a:active
{
    color: rgb(207, 207, 207);
}

.cuerpo-footer .carta-footer .contenido-footer .redes-footer a
{
    color: #fff;
    font-size: 24px;
}
.creadordos
{
    position: absolute;
    left: 60%;
    top: 2150px;
}
.texto-footer
{
    position: relative;
    display: inline-fex;
    color: white;
    font-size: .5em;
    padding: 10px;
}
.texto-footer p
{
    color: red;
}
.title-certus 
{
    position: relative;
    left: 30%;
    top: -40px;
    color: white;
}
.texto h3
{
    font-size: 1.5em;
    color: #f1f1f1;
    position: absolute;
    left: 65%;
    top: 2720px;
    font-weight: 400;
}
.texto h3::selection
{
    background: red;
}
.redes ol li 
{
    position: relative;
    left: 55%;
    float: left;
    list-style: none;

}
.redes ol li a
{

    margin: 20px;
    font-size: 1.8em;
    color: white;
    transition: .5s;
}
.redes ol li a:hover
{
    transition: .5s;
    color: red;
}

.contenido-loading
{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*   background-color: aliceblue;
 */}
.contenido-loading span
{
  width: 100%;
  height: 100%;
/*   background-color: aqua;
 */  position: absolute;
  transform: rotate(calc(30deg*var(--var)));
}
.contenido-loading span::before
{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: lime;
  border-radius: 50%;
  animation: animateloading 1.2s linear infinite;
  box-shadow: 0px 0px 50px 10px lime;
  animation-delay: calc(.1s*var(--var));
}
@keyframes animateloading {
  80%,100%
  {
    filter: hue-rotate(360deg);
    transform: scale(0);
  }
  
}